<section class="faq">
  <div class="wrap faq_wrap">
    <div class="faq__block">
      <form action="" class="faq__form">
        <h3 class="faq__form-title">Ответы на&nbsp;вопросы</h3>
        <p class="faq__form-description">Не нашли ответа? Напишите&nbsp;нам.</p>
        <button class="button button_type2" data-target="formRequest">
          Оставить заявку
        </button>
      </form>
      <div class="faq__right" data-faq="container">
        <h3 class="faq__form-title faq__form-title_tablet">
          Ответы на&nbsp;вопросы
        </h3>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Поддерживает ли Корпоративная Почта Mail.ru требования ГОСТ
            57580.1-2017 к шифрованию?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да, по запросу.
          </div>
        </div>

        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Можно ли подключить пользователей из нескольких доменов?​​​​​​
          </div>
          <div class="faq__right-answer" data-click="close">
            Мессенджер Myteam и Почта поддерживают мультидоменность.
            Пользователи из разных доменов смогут общаться между собой в Myteam,
            делиться календарями и видеть общие контакты в Почте​​​​​​​.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Возможна ли настройка политик безопасности для коммуникации
            пользователей?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да, администратор сервисов Mail.ru может настраивать разрешения на
            отправку писем вне домена или только на список разрешенных доменов.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Имеют ли продукты для бизнеса сертификацию ФСТЭК?
          </div>
          <div class="faq__right-answer" data-click="close">
            Продукты могут быть сертифицированы по запросу клиента.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Как обеспечивается защита конфиденциальных данных и документов,
            пересылаемых пользователями в Почте и Мессенджере?
          </div>
          <div class="faq__right-answer" data-click="close">
            Коммуникационные продукты Mail.ru для бизнеса устанавливаются в
            периметр заказчика — то есть защиту данных обеспечивает и
            производитель, и клиент. Со своей стороны мы внедрили механизмы
            защиты от копирования и утечек: логирование активностей
            пользователей, настройку гранулярных прав доступа, запрет снимков
            экрана, запрет на скачивание файлов и др. Подробности — по запросу.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question faq__right-question_small">
            Какие меры предусмотрены в продуктах Mail.ru для бизнеса для
            экономии места на серверах?
          </div>
          <div class="faq__right-answer" data-click="close">
            Специальная функция Корпоративной Почты Mail.ru, дедупликация
            данных, экономит до 40% файлового пространства. В долгосрочной
            перспективе эта технология позволит бизнесу значительно снизить
            затраты на корпоративную почту, в том числе на инфраструктурные
            компоненты.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question faq__right-question_small">
            Доступна ли администратору аналитика действий сотрудников и
            мониторинг состояния серверов?
          </div>
          <div class="faq__right-answer" data-click="close">
            Административная панель продуктов Mail.ru для бизнеса показывает
            расширенную статистику — количество активных пользователей,
            отправленных писем, сообщений и звонков на каждого пользователя и т.
            п. Панель показывает статус почтового сервера и отправляет
            предупреждения администраторам в случае сбоя или проблем с доступом.
          </div>
        </div>

        <div class="faq__right-item">
          <div class="faq__open-close-wrap">
            <div class="faq__open-close" data-click="btn"></div>
          </div>
          <div class="faq__right-question">
            Можно ли настраивать размеры почтовых ящиков, писем, вложений на
            пользователя?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да, размеры ящиков, писем и вложений можно настраивать под
            потребности каждого заказчика.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
