<section class="features">
  <div class="wrap">
    <div class="features__list">
      <div class="features__item">
        <div class="features__icon">
          <img
            src="{{ static('Icon-1.svg')}}"
            alt="logo"
            class="features__img features__img_1"
          />
        </div>
        <h3 class="features__name">Российская разработка</h3>
        <p class="features__text">
          Наши продукты разработаны в РФ, включены Минкомсвязью в реестр
          российских программ и подходят для импортозамещения коммуникационного
          ПО.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon">
          <img
            src="{{ static('icon-2.svg')}}"
            alt="logo"
            class="features__img features__img_2"
          />
        </div>
        <h3 class="features__name features__name_low features__name_low2">
          Возможность&nbsp;участвовать в госзакупках и тендерах
        </h3>
        <p class="features__text">
          Корпоративные сервисы Mail.ru полностью соответствуют федеральным
          законам № 44-ФЗ и № 223-ФЗ и отвечают требованиям государственных
          заказчиков.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon">
          <img
            src="{{ static('icon-3.svg')}}"
            alt="logo"
            class="features__img features__img_3"
          />
        </div>
        <h3 class="features__name">Отказоустойчивость</h3>
        <p class="features__text">
          Храним ваши данные на двух независимых серверах и регулярно делаем
          бэкапы — в случае аварии ничего не потеряется. Оперативно восстановим
          работу даже после крупного сбоя.
        </p>
      </div>
    </div>

    <div class="features__list">
      <div class="features__item">
        <div class="features__icon">
          <img
            src="{{ static('Icon-4.svg')}}"
            alt="logo"
            class="features__img features__img_4"
          />
        </div>
        <h3 class="features__name features__name_short features__name_short2">
          Безопасность данных
        </h3>
        <p class="features__text">
          Сервисы устанавливаются в закрытый периметр заказчика. Мы прошли аудит
          безопасности в компании Digital Security и платим тем, кто находит
          уязвимости. Сможем пройти сертификацию ФСТЭК.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon">
          <img
            src="{{ static('Icon-5.svg')}}"
            alt="logo"
            class="features__img features__img_5"
          />
        </div>
        <h3 class="features__name features__name_short features__name_low2">
          Техподдержка любого уровня
        </h3>
        <p class="features__text">
          Выбирайте подходящий уровень техподдержки — от переписки по почте в
          рабочее время до ответа на звонок 24/7 даже в выходные и праздники.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon">
          <img
            src="{{ static('Icon-6.svg')}}"
            alt="logo"
            class="features__img features__img_6"
          />
        </div>
        <h3 class="features__name features__name_short features__name_low2">
          Доработки по запросу
        </h3>
        <p class="features__text">
          Можем персонализировать продукт под конкретные потребности заказчика
          по безопасности, интерфейсу, интеграциям.
        </p>
      </div>
    </div>
  </div>
</section>
