<section class="start">
  <div class="wrap start__wrap">
    <div class="start__content">
      <h1 class="start__title">Сервисы коммуникаций для госструктур</h1>
      <h2 class="start__text">
        Наши решения соответствуют самым строгим государственным стандартам
        качества и надежности.
      </h2>
      <div class="start__button">
        <button
          type="button"
          class="button button_type1 start__buttonlink"
          data-target="formRequest"
        >
          Оставить заявку
        </button>
      </div>
    </div>
  </div>
</section>
